body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url('../images/bghome.jpg') no-repeat center/cover;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.project-hero {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}

.project-hero h1 {
  font-size: 3rem;
  font-weight: 700;
}

.project-hero p {
  font-size: 1.2rem;
  color: #dcdcdc;
}

.projects-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 35px rgba(0,0,0,0.3);
}

.project-card h2 {
  margin-bottom: 15px;
  color: #ffffff;
}

.project-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.project-media video {
  width: 80%;
  max-width: 700px;
  border-radius: 15px;
}

.description {
  line-height: 1.6;
  color: #e8e8e8;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.2s forwards;
}
@keyframes fadeIn {
  to { opacity: 1; }
}

.circle-btn {
  position: fixed;
  bottom: 30px;
  background: rgba(255, 255, 255, 0.322);
  border: 2px solid #ffffff4b;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.circle-btn:hover {
  background: rgba(0, 212, 255, 0.4);
  transform: scale(1.1);
}

.left-btn { left: 30px; }
.right-btn { right: 30px; }

@media (max-width: 700px) {
  project-hero h1 {
    font-size: 2.2rem;
  }

  .circle-btn {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
  }
}
